<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Beco Food</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="Free HTML Templates" name="keywords" />
        <meta content="Free HTML Templates" name="description" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

        <!-- Favicon -->
        <link href="img/favicon.ico" rel="icon" />

        <!-- Google Web Fonts -->
        <link rel="preconnect" href="https://fonts.gstatic.com" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet" />

        <!-- Font Awesome -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />

        <!-- Libraries Stylesheet -->
        <link href="lib/animate/animate.min.css" rel="stylesheet" />
        <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet" />

        <!-- Customized Bootstrap Stylesheet -->
        <link href="css/style.css" rel="stylesheet" />
    </head>

    <body>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-teal">
                    <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-display-topright">&times;</span>
                    <h2>Giỏ Hàng</hh2>
                </header>
                <div class="w3-container">
                    <p>Đã thêm vào giỏ hàng của bạn</p>
                </div>
                
            </div>
        </div>
        <%- include('../blocks/header') %>

        <!-- Breadcrumb Start -->
        <div class="container-fluid">
            <div class="row px-xl-5">
                <div class="col-12">
                    <nav class="breadcrumb bg-light mb-30">
                        <a class="breadcrumb-item text-dark" href="/">Trang chủ</a>
                        <a class="breadcrumb-item text-dark" href="#">Trang mua sắm</a>
                        <span class="breadcrumb-item active">Chi tiết sản phẩm</span>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Breadcrumb End -->

        <!-- Shop Detail Start -->
        <div class="container-fluid pb-5">
            <div class="row px-xl-5">
                <div class="col-lg-5 mb-30">
                    <div id="product-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner bg-light">
                            <div class="carousel-item active">
                                <img class="w-100 h-100" alt="Image" id="img-detail-product" />
                                <!-- <img class="w-100 h-100" src="img/<%=data.image%>" alt="Image" id="img-detail-product" /> -->
                            </div>
                            <!-- <div class="carousel-item">
                                <img class="w-100 h-100" src="img/product-2.jpg" alt="Image" />
                            </div>
                            <div class="carousel-item">
                                <img class="w-100 h-100" src="img/product-3.jpg" alt="Image" />
                            </div>
                            <div class="carousel-item">
                                <img class="w-100 h-100" src="img/product-4.jpg" alt="Image" />
                            </div> -->
                        </div>
                        <a class="carousel-control-prev" href="#product-carousel" data-slide="prev">
                            <i class="fa fa-2x fa-angle-left text-dark"></i>
                        </a>
                        <a class="carousel-control-next" href="#product-carousel" data-slide="next">
                            <i class="fa fa-2x fa-angle-right text-dark"></i>
                        </a>
                    </div>
                </div>

                <div class="col-lg-7 h-auto mb-30 detail-product">
                    <!-- <div class="h-100 bg-light p-30">
                        <h3><%=data.nameProduct%></h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star-half-alt"></small>
                                <small class="far fa-star"></small>
                            </div>
                            <small class="pt-1">(99 Reviews)</small>
                        </div>
                        <h3 class="font-weight-semi-bold mb-4"><%=data.price%></h3>
                        <p class="mb-4"><%=data.describe%></p>

                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="form-control bg-secondary border-0 text-center" value="1" />
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Thêm vào giỏ hàng</button>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        <!-- Shop Detail End -->

        <!-- Products Start -->
        <div class="container-fluid py-5">
            <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Có thể bạn cũng thích</span></h2>
            <div class="row px-xl-5">
                <div class="col">
                    <div class="owl-carousel related-carousel">
                        <% for(let p of products) {%>
                        <div class="product-item bg-light">
                            <div class="product-img position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/<%=p.image%>" alt="" />
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                            </div>
                            <div class="text-center py-4">
                                <a class="h6 text-decoration-none text-truncate" href="/product/<%=p.id%>"><%=p.nameProduct%></a>
                                <div class="d-flex align-items-center justify-content-center mt-2">
                                    <h5><%=p.price%></h5>
                                    <h6 class="text-muted ml-2"><del>$123.00</del></h6>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mb-1">
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small class="fa fa-star text-primary mr-1"></small>
                                    <small>(99)</small>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>
        <!-- Products End -->

        <!-- Footer Start -->
        <%- include('../blocks/footer') %>

        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>

        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>
    </body>

    <script>
        (async () => {
            const urlHref = window.location.href;
            const id = urlHref.split("/").pop();
            // const api = "http://localhost:3333";
        const api='https://shop-caviengiare.onrender.com/'


            let url = `${api}/api/products/detail/${id}`;
            const res = await fetch(url);
            const data = await res.json();

            let str = `
            <div class="h-100 bg-light p-30">
                        <h3>${data.nameProduct}</h3>
                        <div class="d-flex mb-3">
                            <div class="text-primary mr-2">
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star"></small>
                                <small class="fas fa-star-half-alt"></small>
                                <small class="far fa-star"></small>
                            </div>
                            <small class="pt-1">(99 Reviews)</small>
                        </div>
                        <h3 class="font-weight-semi-bold mb-4">${data.price}</h3>
                        <p class="mb-4">${data.describe}</p>

                        <div class="d-flex align-items-center mb-4 pt-2">
                            <div class="input-group quantity mr-3" style="width: 130px">
                                <div class="input-group-btn">
                                    <button onclick="minus()" class="btn btn-primary btn-minus">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                                <input type="text" class="quantity-item form-control bg-secondary border-0 text-center" value="1" />
                                <div class="input-group-btn">
                                    <button onclick="plus()" class="btn btn-primary btn-plus">
                                        <i class="fa fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <button onclick="addCart(${data.id},'${data.nameProduct}',${data.price},'${data.image}')" class="btn btn-primary px-3"><i class="fa fa-shopping-cart mr-1"></i>Thêm vào giỏ hàng</button>
                        </div>
                    </div>

            `;
            document.querySelector(".detail-product").innerHTML = str;
            document.querySelector("#img-detail-product").setAttribute("src", `img/${data.image}`);
        })();
        function addCart(id, name, price, image) {
            let value_product = document.querySelector(".quantity-item").value;
            let cart_arr = JSON.parse(localStorage.getItem("cart"));
            if (!cart_arr) {
                cart_arr = [];
                cart_arr.push({ id: id, name: name, price: price, image: image, quantity: value_product });
            } else {
                let item = cart_arr.find((item) => item.id == id);
                if (item) item.quantity = Number(item.quantity) + Number(value_product);
                else cart_arr.push({ id: id, name: name, price: price, image: image, quantity: value_product });
            }
            localStorage.setItem("cart", JSON.stringify(cart_arr));
            document.getElementById('id01').style.display='block'

        }
        const minus = () => {
            document.querySelector(".quantity-item").value == 1 ? (document.querySelector(".quantity-item").value = 1) : document.querySelector(".quantity-item").value--;
        };

        const plus = () => {
            document.querySelector(".quantity-item").value++;
        };
    </script>
</html>
